<h1 class="text-white text-4xl font-bold">Create Product</h1>

<app-alert></app-alert>
<form [formGroup]="productStore" class="card" (ngSubmit)="productStoreCall()">
  <div class="card-body mt-0">
    <div class="grid grid-cols-3 gap-5">

      <div>
        <label for="category" class="form-label">Category</label>
        <select (change)="loadSubCategory(category.value)" #category class="form-select w-full" id="category" formControlName="categoryId">
          <option value="">Select</option>
          <option *ngFor="let category of categories" value="{{ category.id }}">
            {{ category.name }}
          </option>
        </select>
      </div>

      <div>
        <label for="category" class="form-label">Sub Category</label>
        <select class="form-select w-full" id="category" formControlName="subCategoryId">
          <option value="">Select</option>
          <option *ngFor="let subCategory of subCategories" value="{{ subCategory.id }}">
            {{ subCategory.name }}
          </option>
        </select>
      </div>

      <div class="col-span-3" formArrayName="products">
        <div class="grid grid-cols-2 gap-5" *ngFor="let product of products; let i = index" [ngClass]="{'mt-4': i > 0}" formGroupName="{{i}}">
          <div>
            <label for="name_{{i}}" class="form-label">Product Name</label>
            <input type="text" id="name_{{i}}" class="form-input" formControlName="name">
          </div>
          <div>
            <label for="stock_{{i}}" class="form-label">Opening Stock Quantity</label>
            <div [ngClass]="{'flex justify-center items-center gap-2': i > 0}">
              <input type="number" id="stock_{{i}}" class="form-input" formControlName="stock">
              <i *ngIf="i > 0" class="material-icons text-red-500 cursor-pointer"
                (click)="removeProduct(i)">delete</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button type="submit" class="btn-primary">Submit</button>
    <button type="button" class="btn-secondary" (click)="addProduct()">Add More</button>
  </div>
</form>
