<h1 class="text-white text-4xl font-bold">Dashboard</h1>

<div class="grid grid-cols-3 gap-8 mt-10">
    <div class="card mt-0 py-4">
        <h1 class="text-2xl font-bold">Users</h1>
        <h3 class="text-3xl mt-2">{{dashboard?.users}}</h3>
    </div>
    <div class="card mt-0 py-4">
        <h1 class="text-2xl font-bold">Total Stocks</h1>
        <h3 class="text-3xl mt-2">{{dashboard?.totalStocks}}</h3>
    </div>
    <div class="card mt-0 py-4">
        <h1 class="text-2xl font-bold">Alloted Stocks</h1>
        <h3 class="text-3xl mt-2">{{dashboard?.allotedStocks}}</h3>
    </div>
    <div class="card mt-0 py-4">
        <h1 class="text-2xl font-bold">Damage Stocks</h1>
        <h3 class="text-3xl mt-2">{{dashboard?.damageStocks}}</h3>
    </div>
</div>