<aside id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
        <span class="flex items-center ps-2.5 mb-5">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Inventory</span>
        </span>
        <ul class="space-y-1 font-medium flex flex-col">
            <app-navbar-links href="dashboard" icon="dashboard" label="Dashboard"></app-navbar-links>
            <app-navbar-links href="user" icon="group" label="Users"></app-navbar-links>
            <app-navbar-links href="category" icon="category" label="Categories"></app-navbar-links>
            <app-navbar-links href="sub-category" icon="layers" label="Sub Categories"></app-navbar-links>
            <app-navbar-links href="product" icon="inventory_2" label="Products"></app-navbar-links>
            <app-navbar-links href="purchase" icon="shopping_cart" label="Purchases"></app-navbar-links>
            <app-navbar-links href="allotment" icon="how_to_reg" label="Allotment"></app-navbar-links>
            <app-navbar-links class="absolute bottom-3 w-[14.5rem]" href="#" icon="logout" label="Logout" (click)="logoutUser()"></app-navbar-links>
        </ul>
    </div>
</aside>

<div class="p-4 sm:ml-64 bg-gray-900 min-h-[100vh] pl-10 pt-10">
    <app-confirm-modal></app-confirm-modal>
    <router-outlet></router-outlet>
</div>
